apiVersion: v1
baseDomain: "{{ openshift_base_domain }}"
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: "{{ openshift_cluster_name }}"
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
pullSecret: "{{ openshift_pull_secret | to_json | replace('"', '\\"') }}"
sshKey: "{{ openshift_ssh_key }}"